#searchCityForm {
    margin: 2%;
}

#todayWeather {
    /* background-color: aqua; */
    
}

#placeHolderImg {
    height: 250px;
    width: 100%;
    margin-top: 5%;
}

#headDiv {
    /* background-color: bisque; */
}

#fiveDayForecast {

}