#searchCityForm {
    margin: 2%;
}

#todaysWeather {
    font-size: 1.5em;   
}


#currentCity {
    font-size: 1.5em;  
}

#temperature {
    /* vertical-align: middle; */
    text-align: center;
    font-size: 4.5em; 
}

#currentWeatherText {
    text-align: center;
    margin-top: 5%
}

#currentWeatherIconTemp {
    text-align: center;
}

#placeHolderImg {
    height: 250px;
    width: 100%;
    margin-top: 5%;
}

#currentWeatherIcon {
    font-size: 5em;
}